* {
  box-sizing: border-box;
}
.post {
  width: 25rem;
  border: 1px solid;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: auto;
}

.user-image {
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.username {
  font-weight: 700;
  cursor: pointer;
}
.user {
  position: relative;
  bottom: 0.75rem;
}

.option {
  position: relative;
  left: 17rem;
  bottom: 1rem;
  cursor: pointer;
}

.post-container img {
  width: 100%;
}

.icons {
  cursor: pointer;
  font-size: 24px;
}

.bookmark {
  position: relative;
  left: 17rem;
}

.like:hover {
  color: red;
}

.comment:hover {
  color: green;
}

.share:hover {
  color: blue;
}

.bookmark:hover {
  color: rgb(224, 5, 232);
}
